In [1]:
import pandas as pd

df = pd.read_csv("./argentina_cars.csv", sep = ";")

ModuleNotFoundError: No module named 'pandas'

In [6]:
#Imprimir las primeras filas del df
df.head()

  money,brand,model,year,color,fuel_type,door,gear,motor,body_type,kilometres,currency
0  10350000,Toyota,Corolla Cross,2022,Plateado,Na...
1  10850000,Jeep,Compass,2022,Blanco,Nafta,5.0,Au...
2  35500,Jeep,Compass,2022,Gris oscuro,Nafta,5.0,...
3  19000,Citroën,C4 Cactus,2022,Gris oscuro,Nafta...
4  5800000,Toyota,Corolla,2019,Gris,Nafta,4.0,Man...

In [7]:
#Imprimir las ultimas filas
df.tail()

    money,brand,model,year,color,fuel_type,door,gear,motor,body_type,kilometres,currency
505  5250000,Chevrolet,Tracker,2018,Gris,Nafta,5.0,...
506  46000,Volkswagen,Amarok,2019,Gris,Diésel,4.0,A...
507  3960000,Peugeot,2008,2017,Blanco,Nafta,5.0,Man...
508  44900,Volkswagen,Amarok,2019,Gris,Diésel,4.0,A...
509  2890000,Toyota,Etios,2015,Gris,Nafta,5.0,Manua...

In [8]:
#Imprimir las dimensiones del dataset
print(df.shape)

(510, 1)

In [9]:
#Totalidad de Registros por columnas
df.count()

money,brand,model,year,color,fuel_type,door,gear,motor,body_type,kilometres,currency    510
dtype: int64

In [10]:
#Analicemos ahora los tipos de dato de cada columna
df.dtypes

money,brand,model,year,color,fuel_type,door,gear,motor,body_type,kilometres,currency    object
dtype: object

In [11]:
#Verificamos la estructura del dataset
type(df)

pandas.core.frame.DataFrame

In [12]:
#Listado de las columnas
print(df.columns)

Index(['money,brand,model,year,color,fuel_type,door,gear,motor,body_type,kilometres,currency'], dtype='object')

In [9]:
#Eliminacion de ciertas columnas del df
df.drop(columns = ['Date', 'Last Update'], inplace = True) #Sobreescribir el objeto

In [10]:
#Verificamos la eliminacion
print(df.shape)

(121, 6)

In [13]:
#Determinar cuantos valores faltantes tenemos por cada columna
print(df.isna().sum()) #isna es una funcion booleana --> V/F

money,brand,model,year,color,fuel_type,door,gear,motor,body_type,kilometres,currency    0
dtype: int64

In [14]:
#Tambien podemos utilizar la funcion info()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 510 entries, 0 to 509
Data columns (total 1 columns):
 #   Column                                                                                Non-Null Count  Dtype
---  ------                                                                                --------------  -----
 0   money,brand,model,year,color,fuel_type,door,gear,motor,body_type,kilometres,currency  510 non-null    object
dtypes: object(1)
memory usage: 4.1+ KB

In [15]:
#Describe Python
df.describe()    #de forma rapida un EDA ---> Analisis Exploratorio de Datos

       money,brand,model,year,color,fuel_type,door,gear,motor,body_type,kilometres,currency
count                                                 510
unique                                                510
top     10350000,Toyota,Corolla Cross,2022,Plateado,Na...
freq                                                    1

In [16]:
df.describe().T

,count,unique,top,freq
"money,brand,model,year,color,fuel_type,door,gear,motor,body_type,kilometres,currency",510,510,"10350000,Toyota,Corolla Cross,2022,Plateado,Na...",1